<mat-dialog-content style="padding: 0; height: 100%; max-height: 69vh">
  <div class="relative w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          {{ isUpdate ? "Update Contact" : "Create New Contact" }}
        </h3>
        <button
          (click)="closeDialog()"
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="crud-modal"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form
        [formGroup]="contactForm"
        (ngSubmit)="onSubmit()"
        class="p-4 md:p-5"
      >
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2">
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Type contact name"
              required=""
            />
            <div
              *ngIf="
                contactForm.get('name')?.invalid &&
                (contactForm.get('name')?.dirty ||
                  contactForm.get('name')?.touched)
              "
              class="text-error"
            >
              <small *ngIf="contactForm.get('name')?.errors?.['required']"
                >Name is required.</small
              >
              <small *ngIf="contactForm.get('name')?.errors?.['maxlength']"
                >Name cannot exceed 200 characters.</small
              >
            </div>
          </div>
          <div class="col-span-2 sm:col-span-1">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Email</label
            >
            <input
              type="email"
              formControlName="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="example@gmail.com"
              required=""
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                (contactForm.get('email')?.dirty ||
                  contactForm.get('email')?.touched)
              "
              class="text-error"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Enter a valid email.</small
              >
            </div>
          </div>
          <div class="col-span-2 sm:col-span-1">
            <label
              for="phone"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Phone</label
            >
            <input
              type="tel"
              formControlName="phone"
              id="phone"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder=""
              required
            />
            <div
              *ngIf="
                contactForm.get('phone')?.invalid &&
                (contactForm.get('phone')?.dirty ||
                  contactForm.get('phone')?.touched)
              "
              class="text-error"
            >
              <small *ngIf="contactForm.get('phone')?.errors?.['required']"
                >Phone is required.</small
              >
              <small *ngIf="contactForm.get('phone')?.errors?.['pattern']"
                >Enter a valid phone number (10 digits).</small
              >
            </div>
          </div>
          <div class="col-span-2">
            <label
              for="notes"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Notes</label
            >
            <textarea
              id="notes"
              formControlName="notes"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Write product description here"
            ></textarea>
          </div>
        </div>
        @if (isUpdate) {
          <button
            type="submit"
            [disabled]="isLoading"
            class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            @if (isLoading) {
              <span class="loading loading-spinner loading-md"></span>
            } @else {
              <i class="fa-solid fa-pen-to-square me-1"></i>
              Update Contact
            }
          </button>
        } @else {
          <button
            type="submit"
            [disabled]="isLoading"
            class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            @if (isLoading) {
              <span class="loading loading-spinner loading-md"></span>
            } @else {
              <svg
                class="me-1 -ms-1 w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              Add new Contact
            }
          </button>
        }
      </form>
    </div>
  </div>
</mat-dialog-content>
